@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
  margin: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.frontpage-banner{

  background-image: url(./../img/2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 390px;
  position: relative;
}

#overlay{
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #009688;
   opacity: 0.7;
}

/*.frontpage-banner{
  background: #6ed3cf;
  height: 390px;
  position: relative;
}*/

#title{
  left: 0;
      position:absolute;
      text-align:center;
      top: 40%;
      width: 100%
}
/*#title-border{
  background: rgba(255, 255, 255, 0.58);
  font-family: 'Comfortaa', cursive;
  box-shadow: 0px 0px 20px 6px #1c383c;
  font-size: 100px;
}*/
#title-border{
  font-family: 'Comfortaa', cursive;
font-size: 100px;
color: white;
/*background: rgb(23, 79, 107);
padding: 0px 15px 0px 15px;*/
}

.add-icon{
  background-position: left center;
background-repeat: no-repeat;
padding-left: 100px;
}
.location-icon{
  float: right;
  padding-right: 200px;
}

#donate-span{
  position: absolute;
margin-top: 4px;
    padding-left: 5px;
    font-family: 'Work Sans', sans-serif;
}
#location-span{
  position: absolute;
margin-top: 4px;
    padding-left: 5px;
    font-family: 'Work Sans', sans-serif;
}
.cardHead, .cardMed, .cardTex{
  font-family: 'Work Sans', sans-serif;
}
